.jumbotron
  .container
    %h1 Welcome

    %p
      This is the Tuttle Demo application which demonstrates the
      capabilities of Tuttle.
    %p
      This application is a Rails 5.x minimal application with a few
      gems (Devise, CanCan, Paperclip, etc) installed to show off
      their inspectors.

    %p= link_to 'Tuttle Dashboard »', tuttle.root_path, :class=>['btn','btn-primary','btn-lg'], :role=>'button'

.container
  .row
    .col-md-6
      .h2 Rails
      %p
        This basic Rails application consists of a few controllers and a few models hitting a PostgreSQL database.
      %p
        Tuttle can help inspect Rails applications with knowledge of configuration best practices.
        You can use Tuttle to inspect Models, Controllers, Helpers, Engines, Generators, and more.
      %p= link_to 'Tuttle Rails', tuttle.rails_path, :class=>['btn','btn-primary'], :role=>'button'
    .col-md-6
      .h2 Ruby
      %p
        Tuttle's Ruby inspector support allows you see how Ruby itself has been configured.
        You can get details into Garbage Collection, tuning parameters, and environment variables.
      %p
        Tuttle will also report on which files have been loaded by Kernel.
      %p
        = link_to 'Tuttle Ruby', tuttle.ruby_path, :class=>['btn','btn-primary'], :role=>'button'

  .row

    .col-md-6
      %h2 ActiveSupport
      %p
        Tuttle can help inspect how ActiveSupport is configured, including Inflectors and Timezones.
      %p
        The inspector can also report on which dependencies have been loaded, autoloaded, and eager-loaded.
      %p
        = link_to 'Tuttle ActiveSupport', tuttle.active_support_path, :class=>['btn','btn-primary'], :role=>'button'

    .col-md-6
      %h2 Gems
      %p
        This application includes several open source Gems which Tuttle can detect.
      %ul
        %li Devise authentication with self registration
        %li CanCan authorization with simple rules
        %li Paperclip file attachments
      %p
        = link_to 'Tuttle Devise', tuttle.devise_path, :class=>['btn','btn-primary'], :role=>'button'
        = link_to 'Tuttle CanCan', tuttle.cancancan_path, :class=>['btn','btn-primary'], :role=>'button'
        = link_to 'Tuttle Paperclip', tuttle.paperclip_path, :class=>['btn','btn-primary'], :role=>'button'

  .row

    .col-md-6
      .h2 Caching
      %p
        Tuttle's Ruby inspector provides insights into the Cache configuration of
        your application.
      %p
        = link_to 'Tuttle Cache', tuttle.rails_cache_path, :class=>['btn','btn-primary'], :role=>'button'
        = link_to 'Tuttle Demo Cache Exerciser', cache_path, :class=>['btn','btn-info'], :role=>'button'

    .col-md-6
      %h2 Profiling
      %p
        Tuttle includes an on-demand request profiling middleware to allow you to
        inspect memory or CPU usage of a request.
      %p
        Just add <code>?tuttle-profiler=memory</code> or
        <code>?tuttle-profiler=cpu</code> to any URL to invoke the profiler.

      %p
        = link_to 'Memory Profiler', tuttle.root_path('tuttle-profiler':'memory'), :class=>['btn','btn-primary'], :role=>'button'
        = link_to 'CPU Profiler', tuttle.root_path('tuttle-profiler':'cpu'), :class=>['btn','btn-primary'], :role=>'button'

  %hr
  %footer
    %p
      = link_to '&copy; 2017 Dave Gynn'.html_safe, 'https://github.com/dgynn/tuttle'
